{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Squad Game - by @ricardodani</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="../" class="navbar-brand"><strong>Squad Game</strong> - <i>Do we know each other?</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-md-auto">
              {% if request.user.is_authenticated %}
            <li class="nav-item">
             <button class="btn">Welcome, <strong>{{ request.user }}</strong></button> 
              </li>
            <li class="nav-item">
              <form action="/accounts/logout/" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn" ><span class="fa-solid fa-right-from-bracket"></span> Logout</button>
              </form>
            </li>
              {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/github/login/"><span class="fa-solid fa-user"></span> Join/Login</a>
              </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>

    {% block container %}
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-sm-6">
            <h2>Create a new game</h2>
            <p class="lead">Want to create a new game? You will be the admin of it, determining categories and accepting members.</p>
            <p><a class="btn btn-success" href="{% url 'create-game' %}">Create a game</a></p>
          </div>
          <div class="col-sm-6">
            <h2>Join existent game</h2>
            <p class="lead">Time to create your first game, but first you need to be logged in!</p>
            <p>
              <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Insert game code">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Join</button>
              </form>
            </p>
          </div>
        </div>
      </div>
      {% endblock %}

      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li><a href="https://github.com/ricardodani/squad-game/">GitHub project page</a></li>
            </ul>
            <p>Made by <a href="https://github.com/ricardodani">Ricardo Dani</a>.</p>
          </div>
        </div>
      </footer>
    </div>

    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  </body>
</html>


