{% extends "games/base.html" %}
{% block container_content %}
<div class="row">
    <div class="col-sm-12">
    {% if request.user == game.author %}
        <form action="/games/game/{{game.code}}/join" method="POST">
        {% csrf_token %}
        <p class="float-end">
            <button type="button" class="btn btn-success btn-lg">Open game</button>
        </p>
        </form>
    {% elif not is_guest %}
        <form action="/games/game/{{game.code}}/join" method="POST">
        {% csrf_token %}
        <p class="float-end">
            <button type="submit" class ="btn btn-primary btn-lg">Enter as guest</button>
        </p>
        </form>
    {% endif %}
    <h2>{{ game.title }} </h2>
    <small>{{ game.get_status_display }}</small>
    <h6>Author: {{ game.author }}</h6>
    <h6>Creation: {{ game.created_at }}</h5>
        <hr>    
    <div class="row">
        <div class="col-sm-6">
            <h3>Categories</h3>
            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ category }}
                    <button class="btn badge bg-danger rounded-pill">Remove</button>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if not is_guest %}
            <form action="/games/game/{{game.code}}/category" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="gametitle" class="form-label mt-4">Category</label>
                    <div class="input-group">
                        <input name="title" type="text" class="form-control" id="gametitle" aria-describedby="emailHelp" placeholder="Enter a new category">
                        <button class="btn btn-success" type="submit">Create category</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h3>Members</h3>
            {% if players %}
            <ul class="list-group">
                {% for player in players %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ player.user }}
                    <button class="btn badge bg-success rounded-pill">Accepted</button>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <p>
    </p>
    </div>
</div>
{% endblock %}